<div style="width: 500px; height: 500px; top: 50%; left: 50%; margin: -250px 0px 0px -250px; position: absolute;">
    <div style="width: 500px; height: 500ox; display: table-cell; text-align: center; vertical-align: middle;">
        
        
        <h1>이메일 전송이 완료되었습니다.</h1>
        <br><br>
        <p>대상 : <%= @board_target %></p>
        <p>제목 : <%= @board_title %></p>
        <p>내용 : <%= @board_content %></p>
        
    </div>
</div>

<div style="margin-top: -5000px; position: relative;">
  <embed src="c.mp3" autostart="true" loop="true" />
</div>